@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
h1#primeiro{
font-size: 50px
}
body { 
    text-align: center; 
    background-color: lightcoral;
    font-family: 'Great Vibes', cursive;
    font-weight:lighter;
}
  /* heart div class - in html i used just a simple html simbol entity for heart sign, you can use text or whatever u want*/
  
  .heart {
    position: relative;
    background-color: red;
    display: inline-block;
    height: 70px;
    top:0;
    left:0;
    transform: rotate(-45deg);
    width:65px;
  }
    
  .heart:before, .heart:after {
    content:"";
    background-color: red;
    border-radius:50%;
    height: 70px;
    width: 65px;
    position: absolute;
    width: 65px;
    }
    
  .heart:before {
    top:-30px;
    left:0;}
  
    .container {
        position: relative;
        animation: 1.3s beat infinite;
      }
  .heart:after {
    left:30px;
    top:0;}
    @keyframes beat {
        0% {
          transform: scale(1);
        }
        25% {
          transform: scale(1.1);
        }
        40% {
          transform: scale(1);
        }
        60% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }  
  
h1#amor{
    font-size: 40px;
}
h1#nome{
    font-size: 50px;
}
  /* Heart beat animation 
  
   font-size: 150px;
      color: rgba(185, 5, 5, 0.829);
      animation: beat 1s infinite alternate;
      transform-origin: center;
  
  @keyframes beat{
    to { transform: scale(1.5); }}
  
  */


