@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body { 
    text-align: center; 
    background-color: lightcoral;
    font-family: 'Great Vibes', cursive;
    
  }
  
  /* heart div class - in html i used just a simple html simbol entity for heart sign, you can use text or whatever u want*/
  
  .heart {
      font-size: 200px;
      color: #e00;
      animation: beat 1s infinite alternate;
      transform-origin: center;
  }
  
  /* Heart beat animation */
  @keyframes beat{
      to { transform: scale(1.5); }


  }
