@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@keyframes beat{
    to { transform: scale(1.5); }}
body { 
    text-align: center; 
    background-color: lightcoral;
    font-family: 'Great Vibes', cursive;
    font-weight:lighter;
}
  /* heart div class - in html i used just a simple html simbol entity for heart sign, you can use text or whatever u want*/
  
  .heart {
      font-size: 150px;
      color: rgba(185, 5, 5, 0.829);
      animation: beat 1s infinite alternate;
      transform-origin: center;
  }
h1#amor{
    font-size: 40px;
}
h1#nome{
    font-size: 50px;
}
  /* Heart beat animation */
  

