@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body { 
    background-color: lightcoral;
    text-align: center;
}

h1{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}
p{
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
}

button#next{
    height: 30px;
    font-size: 20px;
    margin: 40px;
}
